<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>listadoNoticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let noticia of noticias">
    <ion-card-header>
      <ion-card-title>{{noticia.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content (click)="irADetalle(noticia)">
         {{noticia.body}}   <p> <strong>Autor: </strong>Tomas Garay</p>
      <p> <strong>Fecha: </strong>30/01/2019</p>
    </ion-card-content>
  </ion-card>

</ion-content>
