<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>listadoNoticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let noticia of noticias; let indice = index">
    <ion-card-header>
      <ion-card-title>{{noticia.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content (click)="irADetalle(noticia)">
         {{noticia.id}} ver...  <p> <strong>Autor: </strong>Tomas Garay</p>
      <p> <strong>Fecha: </strong>30/01/2019</p>
    </ion-card-content>
     <ion-buttons>
      <ion-button fill="clear" color="primary" (click)="editar(noticia)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="eliminarNoticia(noticia.id, indice)">Eliminar</ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
